---
http_interactions:
- request:
    method: post
    uri: https://www.trylora.com/api/v0/turing/members
    body:
      encoding: UTF-8
      string: '{"email":"steven@trel.co","password":"password"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"537f1b9cc6b46831b501a2f21b7e4a93"
    body:
      encoding: UTF-8
      string: '{"data":{"user":{"name":"steven j","email":"steven@trel.co","created_at":"2018-10-31T01:45:25.975+00:00","updated_at":"2018-11-01T01:45:25.976+00:00","HTTP_AUTH_TOKEN":"this_is_a_very_simple_auth_token_string"},"available_address":{"message":"These
        are mock addresses available. You will need to use one of these ids in the
        next step","addresses":{"one":{"id":"1860_south_marion_street-Denver-CO-80210"},"two":{"id":"910-portland_place-Boulder-CO-80304"}}}},"status":200,"success":true}'
  recorded_at: Thu, 01 Nov 2018 01:45:26 GMT
recorded_with: VCR 4.0.0
