---
http_interactions:
- request:
    method: post
    uri: https://www.trylora.com/api/v0/turing/update_listing_consultation
    body:
      encoding: UTF-8
      string: '{"email":"steven@trel.co","HTTP_AUTH_TOKEN":"this_is_a_very_simple_auth_token_string","address":"1860_south_marion_street-Denver-CO-80210","about_this_home":"A
        home","list_price":"100000","client_enthusiasm":"Stoked","commission":"500","about_the_seller":"Excited","credit_card":"347881974288396","exp_date":"10/2018"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17c691bc1c177e1d68c1040540a3eb57"
    body:
      encoding: UTF-8
      string: '{"listing_consultation":{"created_at":"2018-11-01T03:41:48.716+00:00","member":{"email":"steven@trel.co","name":null},"address":{"code":"1860_south_marion_street-Denver-CO-80210"},"consultation":{"about_this_home":"A
        home","recommended_list_price":"100000","client_enthusiasm":"Stoked","commission":"500","about_the_seller":"Excited","credit_card":"****_****_****_****","exp_date":"10/2018"}}}'
  recorded_at: Thu, 01 Nov 2018 03:41:48 GMT
recorded_with: VCR 4.0.0
