---
http_interactions:
- request:
    method: post
    uri: https://www.trylora.com/api/v0/turing/properties
    body:
      encoding: UTF-8
      string: '{"address":"1860_south_marion_street-Denver-CO-80210","HTTP_AUTH_TOKEN":"this_is_a_very_simple_auth_token_string"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bbb9551d6c0ddeecd7500eee500d3dfe"
    body:
      encoding: UTF-8
      string: '{"success":true,"result":{"client":{"client_info":{"name":"Tyler Long","email":"tyler+12@trelora.com","phone":"3033333333"},"opted_in":{"result":true},"found_us":"Google
        Search","enthusiasm":"Interested in Moving Forward","timing":"Less than 2
        Months","adopter_type":"Early Adopter","stage":"Just getting interested in
        prepping home for sale. Wants to sell and use $$ to buy with us as well."},"pricing_estimates":{"zillow":{"zestimate":704000,"low":696000,"high":754000},"home_junction":{"low":578000,"high":679000,"regional_avg":689000}},"listing":{"coordinates":{"latitude":"39.683019","longitude":"-104.971964"},"id":"1860_south_marion_street-Denver-CO-80210","mls":"N/A","home_updates":{"exterior":"New
        Roof in 07/15","interior":"Basement Updated and Finished 8/2016"},"address":{"address1":"1860
        South Marion Street","address2":"","city":"Denver","state":"CO","zip":"80210"},"baths":3,"beds":4}}}'
  recorded_at: Thu, 01 Nov 2018 03:39:52 GMT
recorded_with: VCR 4.0.0
