<div class="modal fade" id="listingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h5 id="exampleModalLabel">Begin The Listing Consultation</h5>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Start</button>
      </div>
    </div>
  </div>
</div>

<script>
$(window).on('load', function() {
  $('#listingModal').modal('show');
});
</script>



<%= render "partials/consultancy_form" %>
