<div class="modal fade" id="listingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content justify-content-center">
      <div class="modal-header justify-content-center">
        <h5 id="exampleModalLabel">Begin The Listing Consultation</h5>
      </div>
      <div class="modal-footer justify-content-center">

        <button type="button" id="start_timer" class="btn" data-dismiss="modal" onclick="startTimer()">Start</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Listing Consultation Complete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <h3>Time In Home</h3>
      </div>
      <div class='text-center'>
        <span id="minutes">0</span> minute(s)
        <span id="seconds">0</span> seconds.
      </div>
      <div class="modal-footer">
        <button type="button" id="dismiss_button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

			activateButtons(false, true);

			function startTimer() {
				var seconds = 0;
				timer = setInterval(function() {
					seconds ++;
					document.getElementById("seconds").innerText = seconds % 60;
					document.getElementById("minutes").innerText = parseInt(seconds / 60);
					activateButtons(true, false);
				}, 1000);
			}

			function stopTimer() {
				clearInterval(timer);
				activateButtons(false, true);
			}

			function activateButtons(start, stop) {
				document.getElementById("start-button").disabled = start;
				document.getElementById("stop-button").disabled = stop;
			}
</script>

<script>
$(window).on('load', function() {
  $('#listingModal').modal('show');
});
$("#dismiss_button").on('click', function() {
  $("#consultancy_form :input").prop('readonly', true);
})
</script>



<%= render "partials/consultancy_form" %>
