body {
  font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4 {
  text-align: center;
}

a {
  color: #97c93d;
}

button {
  background: #97c93d;
  justify-content: center;
  box-shadow: 4px 3px 3px #bfbfbf;
}

li {
  list-style: none;
}

.login-form {
  padding-top: 3rem;
}

.sign-in-header {
  padding-top: 4rem;
}

.label {
  padding-top: .5rem;
  margin-bottom: 0;
}

.input {
  padding: 0 3rem .5rem 3rem;
}

.address-search {
  padding-top: 3rem;
}

.address-find-header {
  padding-top: 2rem;
}

.address-title {
  border-bottom: 2px solid black;
  padding: .5rem 1rem 0rem 1rem;
}

.address-window {
  overflow-y: auto;
}

.logo {
  width: 100%;
  padding: 3rem 0;
  text-align: center;
}

.logo img {
  margin: 0 auto;
  max-width: 8rem;
  height: auto;
}
.modal-dialog, .modal-content {
  text-align: center;
  height: 80%;
}
.date {
   background-color: #e9ecef;
   opacity: 1;
}
