<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a id="nav-find" class="nav-link" href="/find">Find</a>
  </li>
  <li class="nav-item">
    <a id="nav-prepare" class="nav-link" href="/address">Prepare</a>
  </li>
  <li class="nav-item">
    <a id="nav-collect" class="nav-link" href="/collect">Collect</a>
  </li>
</ul>
